p.truncar-3l {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.truncar-2l {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

h6.truncar-2l {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custon-tamanho-btn {
    width: 120px;
}

.notification-container {
    position: fixed;
    width: 300px; /* Largura da área de notificação */
    padding: 10px;
    z-index: 9999;
}

.top-right {
    top: 60px; /* Ajuste a posição vertical conforme desejado */
    right: 20px; /* Ajuste a posição horizontal conforme desejado */
}

.success-notification {
    display: flex;
    align-items: center; /* Alinhamento vertical central */
    justify-content: center; /* Alinhamento horizontal central */
    height: 60px; /* Altura da notificação */
    font-size: 18px; /* Tamanho da fonte */
    margin-bottom: 10px;
    background-color: #D1E7DD; /* Cor de fundo para representar um erro */
    color: #0A3622;
    border-radius: 5px;
    animation: fadeOut 10s forwards; /* Define a animação de desaparecimento após 10 segundos */
}

.error-notification {
    display: flex;
    align-items: center; /* Alinhamento vertical central */
    justify-content: center; /* Alinhamento horizontal central */
    height: 60px; /* Altura da notificação */
    font-size: 18px; /* Tamanho da fonte */
    margin-bottom: 10px;
    background-color: #ff6347; /* Cor de fundo para representar um erro */
    color: white;
    border-radius: 5px;
    animation: fadeOut 10s forwards; /* Define a animação de desaparecimento após 10 segundos */
}


@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

.input-group {
    margin-bottom: 15px;
}

.image-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 110px; /* Defina o tamanho desejado para a imagem simulada */
    height: 110px; /* Defina o tamanho desejado para a imagem simulada */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.image-button-banner {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 280px; /* Defina o tamanho desejado para a imagem simulada */
    height: 60px; /* Defina o tamanho desejado para a imagem simulada */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.preview-image {
    width: 100%;
    height: auto;
    display: none;
}

.image-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
} 

.image-button-banner span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

#selectText1, #selectText2, #selectText3, #selectText4 {
    display: block;
}


